.modal_container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    padding: 2rem;
    color:#6A6A6A;
    transform: translate(-50%,50%);
    background-color: #fff;
    border: rgba(0,0,0,0.2) 0.5px solid;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.modal_header {
    font-size: 1.5rem;
}

.modal_header .times {
    text-align: right;
    cursor: pointer;
}

.modal_content {
    padding: 1.5rem 0;
    height: 100%;
}

.sidebar_item {
    font-size: 1.2rem;
    cursor: pointer;
    width: 80%;
    padding: 1rem 0;
    border-bottom: rgba(0,0,0,0.5) 0.5px solid;
}

.sidebar_item.selected {
    color: #37B04C;
    font-weight: bolder;
}

.sidebar_item.first {
    cursor: inherit;
}

.sidebar_item.last {
    cursor: inherit;
    border: none;
}

.sidebar_btn {
    width: 80%;
    margin-top: 2rem;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
    background: #37B04C;
    cursor: pointer;
}

.modal_calendar {
    padding-left: 2rem;
    border-left: rgba(0,0,0,0.5) 0.5px solid;
    text-align: center;
}

.DayPicker-Day--selected {
    background-color: rgb(171, 235, 181) !important;
    color: #37b04c !important;
    font-weight: 800;
}

.DayPicker-Day--today {
    color: #37b04c !important;
    font-weight: 800;
}

.warning {
    margin-top: 2rem;
    color: red;
    font-size: 1.3rem;
    font-weight: bolder;
}